
.main-block {
	width: 600px;
	height: 600px;
	margin: 40px auto;
}
.block {
	width: 60px;
	height: 60px;
	float: left;
	text-align: center;
	line-height: 60px;
	vertical-align: middle;

}
.black {
	background: #000;
}
.white {
	background: #fff;
}

.red {
	background: #c7c7c7;
	color: #75430e;
	font-size: 1.5em;
}
.active {
	background: green;
}

