* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 1.2em;
	background-color: blue;
	color: #f5591b;
}
p {
	padding: 0 0 20px 0;
	line-height: 1.7em;
}

input[type="text"], input[type="password"], input[type="search"] {
	color: #251be3;
	width: 50%;
	padding: 9px;
}

input, textarea {
	outline: none;
	border: none;
	border: solid 1px #fa5fdb;
}

h3, h4 {
	font: normal 170% 'century gothic', serif;
	margin: 0 0 0 0;
	padding: 15px 0 15px 0;
	color: #e80f00;
}
h1, h3 {
	font-size: 140%;
}

a, a:hover {
	outline: none;
	text-decoration: underline;
	color: #ff4e26;
}

body, html {
	width: auto;
	height: auto;
}
body {
	background-color: white;
}
ul {
	margin: 2px 0 22px 17px;
}
ul li {
	margin: 0 0 6px 0;
	padding: 0 0 5px 5px;
	line-height: 1.5em;
}

.header {
	background-color: #ff9d69;
	height: 90px;
	font-size: 0.8em;
	margin-left: 0;
	margin-right: 0;
	min-width: 1190px;
}

.main, .logo, .navigation,.site_content, .footer {
	margin-left: auto;
	margin-right: auto;
}

.logo {
	width: 450px;
	padding-bottom: 30px 0 0 40px;
}

.logo h1, .logo h2 {
	font : normal 180% 'century gothic', arial, serif; /* Israt не понятно как применить данный шрифт */
	margin: 0 9px 7px 11px;
}

.logo_text h1, .logo_text  h1 a, .logo_text h1 a:hover {
	padding: 10px 0 0 0;
	color: #FFE4B5;
	letter-spacing: 0.1em;
	text-decoration: none;
}
.logo_text h2 {
	font-size: 0.9em;
	padding: 8px 0px 0 50px;
	color: #b9ff57;
}
.navigation {
	width: auto;
	height: auto;
}
ul.menu {
	float: right;
}
ul.menu li {
	float: left;
	padding: 0 0 0 9px;
	list-style: none;
	margin: 1px 2px 0 0;
}
ul.menu li a {
	font: normal 120% 'trebuchet ms', sans-serif;
	display: block;
	height: 20px;
	padding: 6px 35px 5px 28px;
	color: #ff9d85;
	text-decoration: none;
}

ul.menu li.selected a {
	color: #f00;
}
ul.menu li a:hover {
	color: #800080;
}
hr {
	border: solid 1px #ff9500;
}

.site_content {
	width: 1190px;
	padding: 0 0 0 0;
	overflow: hidden;
	background-color: white;
	font-size: 0.8em;

}
.sitebar_contener {
	float: right;
	width: 180px;
}

.sitebar {
	float: right;
	width: 202px;
	padding: 5%;
	margin: 0 0 16px 0;
	border: solid 1px #ed66c0;
	border-radius: 10px;
	background-color: #ffe6ba;
}

.btn {
	padding: 8px;
	background-color: white;
	cursor: pointer;
}

.sitebar h3 {
	font-size: 170%;
	color: #e80f00;
}

.lables_passreg_text {
	font-size: 0.7em;
	margin-top: 3%;
	margin-left: 2%;
}

.sitebar ul {
	margin:0;
}

.sitebar ul li{
	list-style-type: none;
	margin: 0 0 0 0;
}

.sitebar .rating_sitebar {
	float: right;
}

.content {
	text-align: left;
	width: 800px;
	padding: 0 0 0 100px;
	float: left;
}
.content h4 {
	font-size: 1em;
	text-align: center;
	padding: 0 0 0 0;
}

.content a {
	text-decoration: none;
}
.cats_blocks {
	margin-bottom: 3%;
	text-align: center;
}
.cats_blocks img {
	border-radius: 5px;
	border: solid 5px #ffe6ba;
	width: 18%;
}

.posts_content {
	font-size: 0.8em;
}
.read {
	text-decoration: underline;
}
.name_h1 {
	margin-top: 2%;
	margin-bottom: 1%;
	padding: 6px 35px 5px 28px;
}

.infocats_page {
	margin-top: 2%;
	margin-bottom: 4%;
}
.infocats_page .label {
	font-size: 1.2em;
}
.infocats_page .value {
	font-size: 1em;
	color: #e85046;
	margin-right: 3%;
}

.decriprion_cats {
	margin-bottom: 15%;
	
}
.decriprion_cats img {
	float: left;
	margin-right: 5%;
	border-radius: 5px;
	border: solid 5px #ff9500;
	width: 15%;
}

.reviews {
	margin-bottom: 4%;
	font-size: 0.9em;
}
.reviews .review_name {
	background-color: #ffeeed;
	color: #6f077d;
	padding: 1%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 1.5em;
}
.reviews .review_text {
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	font-size: 1.2em;
}
.send {
	margin-bottom: 4%;
}
.send input[type="text"], textarea {
	border: solid 1px #ffc87f;
	margin-bottom: 2%;
}

.send input[type="text"] {
	width: 98%;
}

.send textarea {
	width: 724px;
	height: 100px;
}
.send input[type="submit"] {
	background-color: #ffeacf;
	padding: 1%;
	color: #6f077d;
	border-radius: 10px;
}
 
.info_cats .button {
	margin-top: -7%;
	font-size: 1.5em;
	margin-left: 23%;
	border-radius: 10%;
	float: right;
	clear: both;
	background-color: #ffebde;
	padding: 2%;
}

.info_cats img{
	float: left;
	padding: auto;
	margin-right: 6%;
	border-radius: 9px;
	border: solid 3px #ff9500;
	width: 20%;

}
.text_info_cats {
	font-size: 1em;
	margin-top: 9%;
	padding: 3%;
	height: 165px;

}

table {
	width: 80%;
	border: solid 1px #ff9500;
	float: right;
	ma
r}
td {
	padding: 1%;
	border: solid 0.5px #ff9500;

}
td img {
	width: 60px;
	vertical-align: middle;
}


.footer {
	width: 100%;
	height: 100%;
	padding: 28px 0 5px 0;
	text-align: center;
	background-color: #ff9d69;
	color: #FFE4B5;
	margin-right: 0px;
	margin-left: 0px;
	min-width: 1190px;
}
.footer a {
	color: #FFE4B5;
	text-decoration: none;
}
.footer a:hover {
	color: #fff;
	text-decoration: none;
}
.footer p {
	padding: 0 0 10px 0;
}